.form-group small{
    visibility: hidden;
    color: #e74c3c;
}

.form-group.error small{
    visibility: visible;
}

.form-group.error input{
    border: 2px solid #e74c3c;
}
.form-group.success input{
    border: 2px solid #2ecc71;
}
